#header-section {
    background: url("../../images/background.png");
}

.quotation-marks {
    color: var(--purple-text);
    font-family: 'BwVivant Bold';
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
}

